@import url('https://fonts.cdnfonts.com/css/gilroy-bold');


.gameTitle{    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
}